/config.mk
/docs/*.aux
/docs/*.html
/docs/*.info
/docs/*.log
/docs/*.out
/docs/*.pdf
/docs/*.texi
/docs/dir
/docs/stats/
/lisp/*-autoloads.el
/lisp/*.elc

/docs/magit/
/docs/magit-section/
/lisp/magit-version.el

/docs/*.epub
/docs/META-INF/
/docs/OEBPS/
/docs/epub.xml
/docs/mimetype

*~
/*.tar
/*.tar.gz
