/INSTALL
/Makefile.in
/aclocal.m4
/build-stamp
/config.log
/config.status
/configure
/debian/debhelper.log
/debian/files
/debian/magit.debhelper.log
/debian/magit.postinst.debhelper
/debian/magit.prerm.debhelper
/install-sh
/install-stamp
/magit-0.5.tar.gz
/magit.info
/missing
/texinfo.tex
/debian/magit/
/autom4te.cache/
/magit-0.6.tar.gz
*.elc
*~
/magit.aux
/magit.cp
/magit.dvi
/magit.fn
/magit.ky
/magit.log
/magit.pg
/magit.toc
/magit.tp
/magit.vr
/magit.pdf
/magit.ps
/magit-pkg.el
magit.spec
