Alex Ott <alexott@gmail.com> <ott@flash.lan>
Seong-Kook Shin <cinsky@gmail.com>
David Abrahams <dave@boostpro.com>
Dennis Paskorz <dennis@walltowall.com>
Evgkeni Sampelnikof <esabof@gmail.com> <faceoffuture@yahoo.gr>
Evgkeni Sampelnikof <esabof@gmail.com> <sabof@example.com>
Graham Clark <grclark@gmail.com> <gcla@moria.(none)>
Jesse Alama <jesse.alama@gmail.com> <alama@stanford.edu>
Jonas Bernoulli <jonas@bernoul.li> <jonasbernoulli@gmail.com>
Leo Liu <sdl.web@gmail.com>
Marc Herbert <marc.herbert@gmail.com> <marc.herbert+git@gmail.com>
Marc Herbert <marc.herbert@gmail.com> <Marc.Herbert+git@gmail.com>
Marcel Wolf <mwolf@ml1.net> marcel-wolf
Marius Vollmer <marius.vollmer@gmail.com> <marius.vollmer@nokia.com>
Marius Vollmer <marius.vollmer@gmail.com> <marius.vollmer@uni-dortmund.de>
Marius Vollmer <marius.vollmer@gmail.com> <mvo@bright.(none)>
Marius Vollmer <marius.vollmer@gmail.com> <mvo@esdhcp03984.research.nokia.com>
Marius Vollmer <marius.vollmer@gmail.com> <mvo@manamana.(none)>
Noam Postavsky <npostavs@users.sourceforge.net>
Óscar Fuentes <ofv@wanadoo.es> Oscar Fuentes <ofv@wanadoo.es>
Óscar Fuentes <ofv@wanadoo.es> <oscar@nc10>
Óscar Fuentes <ofv@wanadoo.es> <oscar@qcore>
Peter J. Weisberg <pj@irregularexpressions.net>
Philippe Vaucher <philippe.vaucher@gmail.com> <philippe@stvs.ch>
Rémi Vanicat <vanicat@debian.org> <github.20.vanicat@mamber.net>
Sébastien Gross <seb@chezwam.org> <seb•ɑƬ•chezwam•ɖɵʈ•org>
Yann Hodique <yann.hodique@gmail.com> <hodiquey@vmware.com>
Yann Hodique <yann.hodique@gmail.com> <yann.hodique@bromium.com>
Yann Hodique <yann.hodique@gmail.com> <yhodique@vmware.com>
