Alex Dunn <adunn@ucsb.edu> <dunn.alex@gmail.com>
Alex Ott <alexott@gmail.com> <ott@flash.lan>
Andriy Kmit' <dev@madand.net>
Bradley Wright <brad@intranation.com> <bradley.wright@digital.cabinet-office.gov.uk>
Chillar Anand <anand21nanda@gmail.com>
Damien Cassou <damien@cassou.me> <damien.cassou@gmail.com>
David Abrahams <dave@boostpro.com>
Dennis Paskorz <dennis@walltowall.com>
Evgkeni Sampelnikof <esabof@gmail.com> <faceoffuture@yahoo.gr>
Evgkeni Sampelnikof <esabof@gmail.com> <sabof@example.com>
Fabian Wiget <fabacino@gmail.com>
Graham Clark <grclark@gmail.com> <gcla@moria.(none)>
Ivan Brennan <ivan.brennan@gmail.com>
Jesse Alama <jesse.alama@gmail.com> <alama@stanford.edu>
Joakim Jalap <JOJA@stoneridge.com>
Jonas Bernoulli <jonas@bernoul.li>
Jonas Bernoulli <jonas@bernoul.li> <jonasbernoulli@gmail.com>
Kan-Ru Chen <kanru@kanru.info> <koster@debian.org>
Leo Liu <sdl.web@gmail.com>
Luís Oliveira <luismbo@gmail.com> <loliveira@common-lisp.net>
Luís Oliveira <luismbo@gmail.com> Luís Borges de Oliveira <lbo@siscog.pt>
Marc Herbert <marc.herbert@gmail.com> <marc.herbert+git@gmail.com>
Marc Herbert <marc.herbert@gmail.com> <Marc.Herbert+git@gmail.com>
Marcel Wolf <mwolf@ml1.net> marcel-wolf
Marian Schubert <marian.schubert@gmail.com> <marian.schubert@gooddata.com>
Marius Vollmer <marius.vollmer@gmail.com> <marius.vollmer@nokia.com>
Marius Vollmer <marius.vollmer@gmail.com> <marius.vollmer@uni-dortmund.de>
Marius Vollmer <marius.vollmer@gmail.com> <mvo@bright.(none)>
Marius Vollmer <marius.vollmer@gmail.com> <mvo@esdhcp03984.research.nokia.com>
Marius Vollmer <marius.vollmer@gmail.com> <mvo@manamana.(none)>
Mark Karpov <markkarpov@opmbx.org>
Natalie Weizenbaum <nex342@gmail.com> Nathan Weizenbaum
Noam Postavsky <npostavs@users.sourceforge.net>
Noam Postavsky <npostavs@users.sourceforge.net> <github.10.npostavs@spamgourmet.com>
Óscar Fuentes <ofv@wanadoo.es> <ofv@wanadoo.es>
Óscar Fuentes <ofv@wanadoo.es> <oscar@nc10>
Óscar Fuentes <ofv@wanadoo.es> <oscar@qcore>
Peter J. Weisberg <pj@irregularexpressions.net>
Peter Vasil <mail@petervasil.net>
Phil Sainty <phil@catalyst.net.nz> <phil-s@users.noreply.github.com>
Philippe Vaucher <philippe.vaucher@gmail.com> <philippe@stvs.ch>
Raimon Grau <raimon@3scale.net> <raimonster@gmail.com>
Rémi Vanicat <vanicat@debian.org> <github.20.vanicat@mamber.net>
Rüdiger Sonderfeld <ruediger@c-plusplus.net> <ruediger@c-plusplus.de>
Sébastien Gross <seb@chezwam.org> <seb•ɑƬ•chezwam•ɖɵʈ•org>
Seong-Kook Shin <cinsky@gmail.com>
Silent Sphere <silentsphere110@gmail.com>
Sylvain Rousseau <thisirs@gmail.com>
Syohei Yoshida <syohex@gmail.com>
Tunc Uzlu <bb2020@users.noreply.github.com>
Wei Huang <weih@opera.com>
Wilfred Hughes <me@wilfred.me.uk> <whughes@ahl.com>
Yann Hodique <yann.hodique@gmail.com> <hodiquey@vmware.com>
Yann Hodique <yann.hodique@gmail.com> <yann.hodique@bromium.com>
Yann Hodique <yann.hodique@gmail.com> <yhodique@vmware.com>
Yuichi Higashi <aaa707b@gmail.com>
