html {min-height: 100%;}


/* #4f89ff */
/* #ff4500 */

* {
  margin: 0;
  padding: 0;
}

td { vertical-align: top; }

p { padding-bottom: 20px; }

a { color: #4f89ff; text-decoration: none; font-weight: bold;}
a:hover { text-decoration: underline }

/* misc */
.clearer {clear: both; font-size: 0;}
.left {float: left;}
.right {float: right;}

.release {
}

img {
  border: 0px;
}

.book a {
  padding-bottom: 20px;
}

.books {
  border-left: 1px solid #222;
  padding: 20px;
  width: 150px;
}

.book {
  color: white;
}

body {
  background: #fff;
  color: #444;
  font: normal 70% Tahoma,sans-serif;
  padding-bottom: 64px;
}

h1 {font: normal 1.8em Tahoma,sans-serif;}
h2 {font: 1.6em sans-serif; padding-top: 5px; }
h3 {font: bold 1em Tahoma,sans-serif;}

h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#title #menu a { color: #fff }
#title #menu .selected { border-bottom: 3px solid #fff; text-decoration: none }
#title #menu { margin-top: 5px; padding: 15px; background: #3e3e3e; }
#title #tag-line { margin-left: 10px; font-size: small; color: #fff; font-style:italic; }
#title { background: #555; padding-top: 60px; }
/* #title { background: #555; padding-top: 60px; background: url('/images/fancy-title-back.png') no-repeat 0 0; } */
#title #menu #cart { float: right; color: red }

hr { margin-top: 5px; border: 1px solid #aaa }

#outer {
  margin: 0 auto;
  width: 700px;
}

#main {
  font-size: 1.2em;
  background: #fff;
}

.rounded-block {
  margin-top: 20px;
}

.rounded-block .left {
  padding-bottom: 5px;
}

.rounded-block-content {
  padding-left: 20px;
  padding-right: 20px;
}

#footer { color: #ccc; background: #555; padding: 20px; border-top: 15px solid #3e3e3e; margin-top: 20px; }
#footer ul { list-style-type:none; }
#footer a { color: #ccc; }

.release {
  text-shadow: 2px 2px 2px #ddd;
  font-size: large;
}
