html {
  background-color: #222;
  padding: 20px;
}

body { 
  font: 100% arial, helvetica, sans-serif;
  min-width: 650px;
  width: 700px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #111;
}

h1, h2, h3, h4, h5 { color: #ff4500; }

a {
  color: #4f89ff;
  text-decoration: none;
}

hr {
  border: 0;
  color: #9E9E9E;
  background-color: #9E9E9E;
  height: 1px;
}

pre { 
  overflow-x: auto;
  /* border: 3px solid #555; */
  /* color: #ddd; */
  /* background-color: #111; */
  /* padding: 2px; */
  line-height: 1.3em;
}