<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

[% PROCESS "lib/magit.tt" %]

[%- menu = [
   [ "home"       ,  "index.html"                                   ]
   [ "download"   , "http://github.com/philjackson/magit/downloads" ]
   [ "repo"       , "http://github.com/philjackson/magit"           ]
   [ "manual"     , "magit.html"                                    ]
   [ "contribute" , "contribute.html"                               ]
] -%]

<html>
  <head>
    <title>[% title %]</title>
    <link rel="stylesheet" type="text/css"
          href="style/main.css" media="screen" />
  </head>
  <body>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16655308-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <div id="outer">
      <div id="main">
        <div id="title">
          <img src="img/title.png" />
          <div id="tag-line">It's Magit! An emacs mode for git.</div>

          <div id="menu">
            [% FOR item IN menu %]
            <a [% IF selected == item.0 %]class="selected" [% END %]
               href="[% item.1 %]">[% item.0 %]</a>

            [% "&#183;" UNLESS item == menu.last %]
            [% END %]
          </div>
        </div>

        [% content %]
      </div>
    </div>
  </body>
</html>
